.App{
display:flex;
font-family: 'Rubik', sans-serif;
align-items: center;
justify-content: center;
height: 100vh;
background:linear-gradient(135deg, rgba(181,220,238,1) 0%, rgba(181,220,238,1) 52%, rgba(245,132,196,1) 99%, rgba(234,170,250,1) 100%);
}
